* {
    padding: 0;
    margin: 0;
  }
  
  
  
 
  h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: #cb3126;
  }
  
  h1 span span {
    position: relative;
    animation: move-text-color 0.75s forwards;
    bottom: -1em;
    opacity: 0;
  }
  
  @keyframes move-text-color {
    0% {
      bottom: -0.2em;
      opacity: 1;
      color: #3E5C76;
    }
    
    50% {
      bottom: 0.2em;
      color: #EC058E;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
      color: #cb3126;
    }
  }